<!DOCTYPE html>
<html>
	<head>
		<link href="index.css" rel="stylesheet" type="text/css">
		<title><h1>Pesquisa de atividades</h1></title>
	</head>
	<body>

	<h1>Pesquisa de atividades</h1>

	<form method="POST">
		<p>
			{% csrf_token %}
			<table>
				<thead>
					<th>{{form.as_p}}</th>
					<th><button type="submit">Pesquisar</button></th>
				</thead>
			</table>
			
		</p>
	</form>
	{% if request.POST %}
		<ul>
			{% for item in itens %}
				<li>
					<a href="/item/{{item.id}}">Aluno(a): {{item.aluno.nome}} | Certificado: {{item.titulo}} | Matrícula: {{item.aluno.matricula}}</a>
				</li>
			{% empty %}
				<li>0 itens</li>
			{% endfor %}
		</ul>
	{% endif %}

	</body>
</html>
