<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/accs/item.css">
		<title>Especificações da atividade</title>
	</head>
	<body>
		<div>
				Nome: {{item.aluno.nome}}
				Matrícula: {{item.aluno.matricula}}
				Email: {{item.aluno.email}}
				Título: {{item.titulo}}
				Carga horária: {{item.cargaHoraria}}
				Instituição: {{item.instituicao}}
				Local: {{item.local}}
				Data do curso: {{item.dataCurso}}
				Data de emissão: {{item.dataEmissao}}
				Relatório: {{item.relatorio}}
				Arquivo anexado: {{item.anexo}}
				Link externo: {{item.linkExterno}}
				Usuário: {{item.usuario}}
				Tipo de atividade: {{item.tipoAtividade}}
				ISSN: {{item.ISSN}}
				ISBN: {{item.ISBN}}
		</div>

		<button onclick="window.history.back()">Voltar</button>

	</body>
</html>

