<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/static/accs/item.css">
		<title>Especificações da atividade</title>
	</head>
	<body>
		<div>
				Nome: {{item.aluno.nome}}
				Matrícula: {{item.aluno.matricula}}
				Email: {{item.aluno.email}}
				Título: {{item.titulo}}
				Carga horária: {{item.carga_horaria}}
				Instituição: {{item.instituicao}}
				Local: {{item.local}}
				Data do curso: {{item.data_do_curso}}
				Data de emissão: {{item.data_de_emissao}}
				Relatório: {{item.relatorio}}
				Arquivo anexado: {{item.arquivo_anexado}}
				Link externo: {{item.link_externo}}
				Usuário: {{item.usuario}}
				Tipo de atividade: {{item.tipo_atividade}}
				Tipo do código de publicação: {{item.codigo_de_publicacao_tipo}}
				Código de publicação: {{item.codigo_de_publicacao}}
		</div>

		<button onclick="window.history.back()">Voltar</button>

	</body>
</html>

